.requested-books-table {
  width: 75%;
  height: 400px;
  padding: 15px 30px;

  .requested-books-title-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    .requested-books-title {
      font-weight: bold;
    }
  }

  input {
    outline: none;
    padding: 5px 10px;
    width: 50%;
    margin-right: 10px;
    display: block;
    margin-bottom: 15px;
  }
}
